# Terraform
*.tfstate
*.tfstate.backup
*.tfplan
.terraform/
.terraform.lock.hcl
*.tfvars
!terraform.tfvars.example

# Secrets
*.pem
*.key
*.crt
.env
credentials

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Reports
dependency-check-report/
trivy-report/
zap-report/
